hr{
  background-color:white;
}
iframe{
  width: 350px;
  height: 200px;
}
section{
  margin:6rem auto;
}


.section-separator{
  width: 50%;
  background-color:gray;
}
.headings{
  margin-bottom: 2rem;
  text-align: center;
}
#courses a{
  color:black;
}
#courses a:hover{
  color:black;
  text-decoration: none;
}
.img-wrap{
  height:212px;
}
.img-wrap:hover{
  filter: brightness(50%);
}

.card{
  border-bottom: 4px solid green;
  height:100%;
}
.card:hover{
  border-left: 1px green solid;
  border-right: 1px green solid;
}

footer{
  background-color: black;
  color:white;
}
