@use 'master';

#profile{
  border-radius: 50%;
}

p{
  font-weight: 400;
}

#featured a{
  color:black;
  text-decoration: none;
}

.banner{
  height:40vh;
  background-color: master.$color-primary;
  margin-bottom: 0px;
}

#main-col{
  margin-top:-55px;
}

.card{
  margin:1rem auto;
  height:90%;
}

.card:hover{
  p{
    color:master.$color-secondary;
  }
  background-color: master.$color-primary;
  opacity: .5
}

.professional{
  border:1px solid master.$color-primary;
}
